.storybook-color {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #000000;
  }
  .storybook-color--primary-1{
    color: var(--primary-1);
  }
  .storybook-color--primary-2{
    color: var(--primary-2);
  }
  .storybook-color--primary-3{
    color: var(--primary-3);
  }
  .storybook-color--secondary-1{
    color: var(--secondary-1);
  }
  .storybook-color--secondary-2{
    color: var(--secondary-2);
  }
  .storybook-color--secondary-3{
    color: var(--secondary-3);
  }
  .storybook-color--secondary-4{
    color: var(--secondary-4);
  }
  .storybook-color--secondary-5{
    color: var(--secondary-5);
  }
  .storybook-color--tertiary{
    color: var(--tertiary);
  }
  .storybook-color--tertiary-1{
    color: var(--tertiary-1);
  }
  .storybook-color--tertiary-2 {
    color: var(--tertiary-2);
  }
  .storybook-color--tertiary-3 {
    color: var(--tertiary-3);
  }
  .storybook-color--tertiary-4 {
    color: var(--tertiary-4);
  }
  .storybook-color--tertiary-5 {
    color: var(--tertiary-5);
  }
  .storybook-color--tertiary-6 {
    color: var(--tertiary-6);
  }