/* color palette from <https://github.com/vuejs/theme> */
:root {
 --primary-1: #231F20;
 --primary-2: #333333;
 --primary-3: #FE4100;
 --secondary-1: #F00034;
 --secondary-2: #2892e9;
 --secondary-3: #00A400;
 --secondary-4: #FDAD00;
 --secondary-5: #FFF7D2;
 --tertiary: #FFFFFF;
 --tertiary-1: #D0D1D4;
 --tertiary-2: #ECF0F1;
 --tertiary-3: #000000;
 --tertiary-4: #9BA0A4;
 --tertiary-5: #FEEFEF;
 --tertiary-6: #FE4100;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
